<div class="card" [appPermission]="CONTRACT_RIGHTS.DANH_SACH">
  <div class="card-body container-page">
    <div class="d-flex flex-wrap d-gap d-space-bw">
      <div class="card-title">
        <i class="bi bi-journal-text"></i>Danh sách hợp đồng
      </div>
      <div class="d-flex d-gap flex-wrap card-function">
        <button type="button" class="btn btn-success" (click)="openCreate()"
          [appPermission]="CONTRACT_RIGHTS.THEM_MOI">
          <i class="bi bi-plus-lg"></i>Thêm mới
        </button>
        <button type="button" class="btn export-excel-btn" (click)="exportExcel()"
          [appPermission]="CONTRACT_RIGHTS.DANH_SACH">
          <fa-icon [icon]="faFileExcel"></fa-icon> Tải Excel
        </button>
      </div>
    </div>
    <div class="d-flex d-gap-2 flex-wrap">
      <div class="d-flex flex-wrap d-gap-2">
        <nz-range-picker nzFormat="dd/MM/yyyy" [nzRanges]="rangePresets" [(ngModel)]="filter.selectedRange"
          [nzPlaceHolder]="['Từ ngày', 'Đến ngày']"></nz-range-picker>
      </div>
      <div class="d-flex flex-row flex-grow-1">
        <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Loại hợp đồng" [(ngModel)]="filter.Type">
          <nz-option *ngFor="let contract of listContractAll" [nzLabel]="contract.name" [nzValue]="contract.value"></nz-option>
        </nz-select>
      </div>
      <div class="d-flex flex-row flex-grow-1">
        <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Đối tác" [(ngModel)]="filter.PartnerCode">
          <nz-option *ngFor="let partner of listPartnerAll" [nzLabel]="partner.name"
            [nzValue]="partner.code"></nz-option>
        </nz-select>
      </div>
      <div class="d-flex flex-row flex-grow-3">
        <div class="input-group search-box">
          <div class="wrapper-input">
            <app-input-clear placeholder="Nhập từ khóa tìm kiếm" (searchEvent)="search()"
              [(value)]="filter.keyWord"></app-input-clear>
          </div>
          <span (click)="search()" class="input-group-text"><i class="bi bi-search"></i></span>
          <span (click)="reload()" class="input-group-text"><i class="bi bi-arrow-clockwise"></i></span>
        </div>
      </div>
    </div>
    <div class="list-container border-top border-bottom mb-1 mt-1">
      <table mat-table [dataSource]="paginationResult.data"
        *ngIf="paginationResult && paginationResult.data?.length > 0" class="table table-hover table-click-row">
        <ng-container matColumnDef="index">
          <th mat-header-cell *matHeaderCellDef class="text-center">STT</th>
          <td mat-cell *matCellDef="let element; let i = index" class="text-center">
            {{ (paginationResult.currentPage - 1) * paginationResult.pageSize + i + 1 }}
          </td>
        </ng-container>

        <ng-container matColumnDef="code">
          <th mat-header-cell *matHeaderCellDef>Số hợp đồng</th>
          <td mat-cell *matCellDef="let element">
            <span href="#" (click)="openDetail(element?.code)" class="cursor-pointer text-primary">{{
              element.code
              }}</span>
          </td>
        </ng-container>

        <ng-container matColumnDef="type">
          <th mat-header-cell *matHeaderCellDef>Loại hợp đồng</th>
          <td mat-cell *matCellDef="let element">{{ STATE_TYPE_CONTRACT[element.type].name }}</td>
        </ng-container>
        <ng-container matColumnDef="partner">
          <th mat-header-cell *matHeaderCellDef>Khách hàng</th>
          <td mat-cell *matCellDef="let element">{{ element.partnerName }}</td>
        </ng-container>
        <ng-container matColumnDef="commodity">
          <th mat-header-cell *matHeaderCellDef>Hàng hóa</th>
          <td mat-cell *matCellDef="let element" >
            <div *ngFor="let d of element.commodity">
              {{ d.item.name }}
            </div>
          </td>
        </ng-container>

        <ng-container matColumnDef="contractValue">
          <th mat-header-cell *matHeaderCellDef>Giá trị hợp đồng</th>
          <td mat-cell *matCellDef="let element">
            <div *ngFor="let d of element.commodity">
              {{ utils.formatNumber(d.sumMoney) }}
            </div>
          </td>
        </ng-container>

        <ng-container matColumnDef="startDate">
          <th mat-header-cell *matHeaderCellDef>Ngày bắt đầu</th>
          <td mat-cell *matCellDef="let element">{{ element.startDate | date : 'dd/MM/yyyy' }}</td>
        </ng-container>

        <ng-container matColumnDef="endDate">
          <th mat-header-cell *matHeaderCellDef>Ngày kết thúc</th>
          <td mat-cell *matCellDef="let element">{{ element.endDate | date : 'dd/MM/yyyy' }}</td>
        </ng-container>

        <ng-container matColumnDef="state">
          <th mat-header-cell *matHeaderCellDef class="text-center w-140px">Trạng thái</th>
          <td mat-cell *matCellDef="let element" class="text-center">
            <div *ngIf="STATE_CONTRACT[element?.state]" class="label-status"
              [style.background]="STATE_CONTRACT[element?.state].background"
              [style.color]="STATE_CONTRACT[element?.state].color">
              {{ STATE_CONTRACT[element?.state].name }}
            </div>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true" class="border-bottom"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns" (dblclick)="openDetail(row?.code)"
          [ngClass]="{'selected-row': row.code === filter.code}"></tr>
      </table>
      <app-empty *ngIf="!paginationResult || paginationResult.data?.length == 0"></app-empty>
    </div>
    <div class="float-end" *ngIf="paginationResult">
      <app-pagination [pageSize]="paginationResult.pageSize" [totalRecord]="paginationResult.totalRecord"
        [totalPage]="paginationResult.totalPage" [(page)]="paginationResult.currentPage"
        (pageChange)="onChangePage($event)" (pageSizeChange)="pageSizeChange($event)"></app-pagination>
    </div>
  </div>
</div>