<div class="dialog">
  <div class="row g-0">
    <div class="col-lg-6 col-sm-12">
      <div class="camera camera-1">
        <video id="stream_01" autoplay="autoplay"></video>
        <div>CAMERA-01</div>
      </div>
    </div>
    <div class="col-lg-6 col-sm-12">
      <div class="camera camera-1">
        <video id="stream_02" autoplay="autoplay"></video>
        <div>CAMERA-02</div>
      </div>
    </div>
  </div>
  <button mat-dialog-close class="dialog-btn-close"><i class="bi bi-x-lg"></i></button>
</div>
