.main-login {
  background-image: url(../../../../assets/img/bg-2.png);
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.box-login {
  width: 400px;
  height: 430px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  box-shadow: 0 5px 45px rgba(0, 0, 0, 0.15);
  background-color: white;
  border-radius: 2px;
}
.card-login {
  box-shadow: none;
}
.mat-raised-button {
  width: 100%;
  margin-left: 0;
  background-color: #0060af !important;
  font-size: 14px;
  font-weight: 500;
}
.otp-container {
  display: flex;
  gap: 10px;
}

.otp-input {
  width: 100%;
  height: 40px;
  text-align: center;
  font-size: 18px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
}

.otp-input:focus {
  border-color: #007bff;
}
.countdown{
  text-align: center;
}

.btn-send{
  margin-top: 30px;
  align-items: center;
   margin-left: 80px;
}

.otp-container {
  display: flex;
  gap: 10px;
}

.otp-input {
  width: 100%;
  height: 40px;
  text-align: center;
  font-size: 18px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
}

