.container-enter-production-infomation {
  background: #ffffff;
  height: 100vh;
  ::ng-deep {
    .ant-table-content {
      overflow: auto;
    }
  }
  ::ng-deep.ant-table-expanded-row > td {
    padding: 0px !important;
  }
  .card-body {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 200px);
  }
  .minus-field {
    font-size: 15px;
    color: red;
    cursor: pointer;
  }
}

.table-parent {
  ::ng-deep.ant-table-thead {
    tr {
      th {
        border: 1px solid #f0f0f0;
      }
    }
  }
}

.table-child {
  ::ng-deep.ant-table {
    margin: 0px !important;
  }
  ::ng-deep.ant-table-tbody {
    tr {
      td {
        border-top: 1px solid #f0f0f0;
        border-bottom: 1px solid #f0f0f0;
      }
    }
  }
  ::ng-deep.ant-table-thead {
    opacity: 1;
    pointer-events: none;
    width: 100%;
    // position: absolute;
    // tr {
    //   th {
    //     padding-top: 0px !important;
    //     padding-bottom: 0px !important;
    //     height: 2px !important;
    //     border: 1px solid #f0f0f0;
    //   }
    // }
  }
}
.showerr-chipper {
  color: #ff4d4f;
  max-width: 300px;
  word-wrap: break-word;
  white-space: normal;
}
