.midnight-report-container {
    table {
        th, td {
            border: solid 1px #e0e0e0;
        }

        th {
            font-weight: 600 !important;
            font-size: 14px !important;
        }
    }
}