<div class="card" [style.width]="widthDeault" style="height: 100%">
  <div class="card-body">
    <div class="d-flex-wrap d-gap d-space-bw border-bottom header-drawer">
      <div class="card-title mb-3">
        <i class="bi bi-plus-lg"></i>Thêm mới phiếu trộn
      </div>
      <div class="d-flex-wrap d-gap">
        <div [appPermission]="ORDER_RELEASE_RIGHTS.THEM_MOI">
          <button (click)="onCreate()" type="button" class="btn btn-primary">
            <i class="bi bi-check-circle"></i>Lưu thông tin
          </button>
        </div>
        <div>
          <button type="button" (click)="close()" class="btn btn-warning"><i class="bi bi-x-circle"></i>Đóng</button>
        </div>
      </div>
    </div>
    <div class="pb-3">
      <form [formGroup]="orderReleaseForm" (ngSubmit)="onCreate()">
        <div class="row">
          <div class="info-left pr-10 col-md-8">
            <div class="mbf-box">
              <div class="mbf-box__header">
                <div class="mbf-box__title">
                  <i class="bi bi-box"></i>
                  Thông tin sản phẩm
                </div>
              </div>
              <div class="mbf-box__body">
                <div class="wraper-table" style="overflow-x: auto;">
                  <table class="table table-hover or-table">
                    <thead>
                      <tr>
                        <th style="width: 120px">Mã sản phẩm</th>
                        <th>Tên sản phẩm</th>
                        <th style="width: 100px">Độ sụt</th>
                        <th style="width: 100px">Đá</th>
                        <th style="width: 100px">Cát</th>
                        <th style="width: 80px" class="text-right">Số lượng</th>
                        <th style="width: 50px">ĐVT</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let od of orderDetail.orderDetails">
                        <td>{{ od?.itemCode }}</td>
                        <td>{{ od?.item?.name }}</td>
                        <td>
                          <span *ngIf="od?.slump">{{ od?.slump }}</span>
                          <span *ngIf="!od?.slump">-/-</span>
                        </td>
                        <td>
                          <span *ngIf="od?.stone?.name">{{ od?.stone?.name }}</span>
                          <span *ngIf="!od?.stone?.name">-/-</span>
                        </td>
                        <td>
                          <span *ngIf="od?.sand?.name">{{ od?.sand?.name }}</span>
                          <span *ngIf="!od?.sand?.name">-/-</span>
                        </td>
                        <td class="text-right">{{ od?.orderNumber | number }}</td>
                        <td>{{ od?.item?.unit?.name }}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            <div class="mbf-box">
              <div class="mbf-box__header">
                <div class="mbf-box__title">
                  <i class="bi bi-info-circle"></i>
                  Thông tin phiếu trộn
                </div>
              </div>
              <div class="mbf-box__body">
                <div class="row align-item-center justify-content-between mb-10">
                  <div class="col-lg-4 or-form">
                    <label for="inputText" class="col-form-label fw-medium">Máy trộn<span
                        class="text-danger ms-1">*</span></label>
                    <div>
                      <app-input-custom [className]="{'is-invalid': submitted && f['mixerCode'].errors}"
                        [defaultValue]="mixer?.name || ''" [options]="optionsMixer" [prop]="'name'"
                        (valueChange)="onChangeMix($event)" (selectItem)="onSelectMix($event)">
                      </app-input-custom>
                      <div *ngIf="submitted && f['mixerCode'].errors" class="text-error">
                        <div *ngIf="f['mixerCode']['errors']['required']">Không được để trống</div>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-4 or-form">
                    <label class="col-form-label fw-medium">Ngày giờ xuất</label>
                    <nz-date-picker nzFormat="dd/MM/yyyy" [nzShowTime]="true" formControlName="mixDate">
                    </nz-date-picker>
                  </div>
                  <div class="col-lg-4 or-form">
                    <label for="inputText" class="col-form-label fw-medium">Số seal</label>
                    <div>
                      <input [ngClass]="{'is-invalid': submitted && f['sealNumber'].errors}" type="text"
                        class="form-control" formControlName="sealNumber" />
                      <div *ngIf="submitted && f['sealNumber'].errors" class="invalid-feedback">
                        <div *ngIf="f['sealNumber']['errors']['required']">Không được để trống</div>
                      </div>
                    </div>
                  </div>
                </div>
                <div style="overflow-x: auto;">
                  <table class="table or-table">
                    <thead>
                      <tr>
                        <th class="text-right" style="width: 180px">Lượng trộn<span class="text-danger ms-1">*</span>
                        </th>
                        <th class="text-right" style="width: 100px">Lượng lũy kế</th>
                        <th class="text-right" style="width: 100px">Xi măng</th>
                        <th class="text-right" style="width: 100px">Đá</th>
                        <th class="text-right" style="width: 100px">Cát</th>
                        <th class="text-right" style="width: 100px">Phụ gia</th>
                        <th class="text-right" style="width: 100px">Nước</th>
                      </tr>
                    </thead>
                    <tbody class="or-body-table">
                      <tr>
                        <td class="text-right">
                          <input [ngClass]="{'is-invalid': submitted && f['mixNumber'].errors}" type="text"
                            class="form-control text-right table--input" formControlName="mixNumber"
                            appCommaSeparated />
                          <div *ngIf="submitted && f['mixNumber'].errors" class="invalid-feedback">
                            <div *ngIf="f['mixNumber']['errors']['min'] || f['mixNumber']['errors']['required']">
                              Nhập khối lượng lớn hơn 0
                            </div>
                          </div>
                        </td>
                        <td class="text-right">
                          <input type="text" class="form-control text-right" [value]="accumulatedNumber() | number"
                            disabled />
                        </td>
                        <td class="text-right">
                          <app-input-number class="formcreate" [errorsRequired]="f['cement'].errors?.['required']"
                            [showErrors]="submitted && f['cement'].errors"
                            [class]="submitted && f['cement'].errors ? 'is-invalid' : ''"
                            [control]="$any(orderReleaseForm).controls['cement']"></app-input-number>
                        </td>
                        <td class="text-right">
                          <app-input-number class="formcreate" [errorsRequired]="f['stone'].errors?.['required']"
                            [showErrors]="submitted && f['stone'].errors"
                            [class]="submitted && f['stone'].errors ? 'is-invalid' : ''"
                            [control]="$any(orderReleaseForm).controls['stone']"></app-input-number>
                        </td>
                        <td class="text-right">
                          <app-input-number class="formcreate" [errorsRequired]="f['sand'].errors?.['required']"
                            [showErrors]="submitted && f['sand'].errors"
                            [class]="submitted && f['sand'].errors ? 'is-invalid' : ''"
                            [control]="$any(orderReleaseForm).controls['sand']"></app-input-number>
                        </td>
                        <td class="text-right">
                          <app-input-number class="formcreate" [errorsRequired]="f['admixture'].errors?.['required']"
                            [showErrors]="submitted && f['admixture'].errors"
                            [class]="submitted && f['admixture'].errors ? 'is-invalid' : ''"
                            [control]="$any(orderReleaseForm).controls['admixture']"></app-input-number>
                        </td>
                        <td class="text-right">
                          <app-input-number class="formcreate" [errorsRequired]="f['water'].errors?.['required']"
                            [showErrors]="submitted && f['water'].errors"
                            [class]="submitted && f['water'].errors ? 'is-invalid' : ''"
                            [control]="$any(orderReleaseForm).controls['water']"></app-input-number>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>

            </div>
            <div class="mbf-box">
              <div class="mbf-box__header">
                <div class="mbf-box__title">
                  <i class="bi bi-truck"></i>
                  Thông tin vận tải
                </div>
              </div>
              <div class="mbf-box__body">
                <div class="row align-item-center justify-content-between">
                  <div class="col-lg-4">
                    <label for="inputEmail" class="col-form-label">Biển số xe bồn<span
                        class="text-danger ms-1">*</span></label>
                    <div>
                      <app-input-custom [className]="{'is-invalid': submitted && f['mixVehicleCode'].errors}"
                        [defaultValue]="orderReleaseForm.value?.mixVehicleCode" [options]="optionsVehicle"
                        [prop]="'code'" (valueChange)="onChange($event)" (selectItem)="onSelectItem($event)">
                      </app-input-custom>
                      <div *ngIf="submitted && f['mixVehicleCode'].errors" class="text-error">
                        <div *ngIf="f['mixVehicleCode']['errors']['required']">Không được để trống</div>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-8">
                    <label for="inputEmail" class="col-form-label">Lái xe bồn</label>
                    <div>
                      <app-input-custom [className]="{'is-invalid': submitted && f['mixDriverUserName'].errors}"
                        [inputValue]="orderReleaseForm.value?.mixDriverFullName"
                        [defaultValue]="orderReleaseForm.value?.mixDriverFullName" [options]="optionsAccount"
                        [prop]="'fullName'" (valueChange)="onChangeAccountMix($event)"
                        (selectItem)="onSelectAccountMix($event)">
                      </app-input-custom>
                      <div *ngIf="submitted && f['mixDriverUserName'].errors" class="text-error">
                        <div *ngIf="f['mixDriverUserName']['errors']['required']">Không được để trống</div>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-4">
                    <label for="inputEmail" class="col-form-label">Biển số xe bơm</label>
                    <div>
                      <app-input-custom [className]="{'is-invalid': submitted && f['pumpVehicleCode'].errors}"
                        [defaultValue]="orderReleaseForm.value?.pumpVehicleCode" [options]="optionsVehicle"
                        [prop]="'code'" (valueChange)="onChangePump($event)" (selectItem)="onSelectPump($event)">
                      </app-input-custom>
                      <div *ngIf="submitted && f['pumpVehicleCode'].errors" class="text-error">
                        <div *ngIf="f['pumpVehicleCode']['errors']['required']">Không được để trống</div>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-8">
                    <label for="inputEmail" class="col-form-label">Lái xe bơm</label>
                    <div>
                      <app-input-custom [className]="{'is-invalid': submitted && f['pumpDriverUserName'].errors}"
                        [inputValue]="orderReleaseForm.value?.pumpDriverFullName"
                        [defaultValue]="orderReleaseForm.value?.pumpDriverFullName" [options]="optionsAccount"
                        [prop]="'fullName'" (valueChange)="onChangeAccountPump($event)"
                        (selectItem)="onSelectAccountPump($event)">
                      </app-input-custom>
                      <div *ngIf="submitted && f['pumpDriverUserName'].errors" class="text-error">
                        <div *ngIf="f['pumpDriverUserName']['errors']['required']">Không được để trống</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="info-content col-md-4">
            <div class="">
              <div class="info--order">
                <div class="mbf-box">
                  <div class="mbf-box__header">
                    <div class="mbf-box__title">
                      <i class="bi bi-info-circle"></i>
                      Thông tin đơn hàng
                    </div>
                  </div>
                  <div class="mbf-box__body">
                    <div class="table--custom">
                      <div class="list-info d-space-bw gap-50">
                        <div class="label">Mã đơn hàng</div>
                        <div class="value">{{ orderDetail.code }}</div>
                      </div>
                      <div class="list-info d-space-bw gap-50">
                        <div class="label">Khách hàng</div>
                        <div class="value">{{ orderDetail?.partner?.name }}</div>
                      </div>
                      <div class="list-info d-space-bw gap-50">
                        <div class="label">Số điện thoại</div>
                        <div class="value">{{ orderDetail?.partner?.phoneNumber }}</div>
                      </div>
                      <div class="list-info d-space-bw gap-50">
                        <div class="label">Ngày giờ đổ</div>
                        <div class="value">{{ orderDetail.pourDate | date : 'dd/MM/yyyy HH:mm' }}</div>
                      </div>
                      <div class="list-info d-space-bw gap-50">
                        <div class="label">Địa điểm đổ</div>
                        <div class="value">{{ orderDetail.pourLocation }}</div>
                      </div>
                      <div class="list-info d-space-bw gap-50">
                        <div class="label">Khu vực</div>
                        <div class="value">{{ orderDetail.areaCode }}</div>
                      </div>
                      <div class="list-info d-space-bw gap-50">
                        <div class="label">Hạng mục công trình</div>
                        <div class="value">{{ orderDetail.pourCategory }}</div>
                      </div>
                      <div class="list-info d-space-bw gap-50">
                        <div class="label">Trạng thái đơn hàng</div>
                        <div class="value">{{ state_order[orderDetail?.state].name }}</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
