<div class="card" style="height: 100vh">
  <div class="card-body">
    <div class="d-flex-wrap d-gap d-space-bw border-bottom header-drawer mini-form">
      <div class="card-title"><i class="bi bi-plus-lg"></i>Tạo mới chính sách giá</div>
      <div class="d-flex-wrap d-gap">
        <div>
          <button (click)="onCreate()" type="button" class="btn btn-primary" [appPermission]="ITEMTYPE_RIGHTS.THEM_MOI">
            <i class="bi bi-check-circle"></i>{{ 'content.common.btn_save' | translate }}
          </button>
        </div>
        <div>
          <button type="button" (click)="close()" class="btn btn-warning">
            <i class="bi bi-x-circle"></i>{{ 'content.common.btn_close' | translate }}
          </button>
        </div>
      </div>
    </div>
    <div>
      <form [formGroup]="wksForm" (ngSubmit)="onCreate()">
        <div class="mt-3">
          <label class="form-label">Khu vực<span class="text-danger ms-1">*</span></label>
          <nz-select
            [nzStatus]="submitted && f['areaCode'].errors ? 'error' : ''"
            nzShowSearch
            nzAllowClear
            formControlName="areaCode"
            >
            <nz-option *ngFor="let area of listAreaAll" [nzLabel]="area.name" [nzValue]="area.code">
            </nz-option>
          </nz-select>
          <div *ngIf="submitted && f['areaCode'].errors" class="text-validate">
            <div *ngIf="f['areaCode']['errors']['required']">Không được để trống</div>
          </div>
        </div>
        <div class="mt-3">
          <label class="form-label">Sản phẩm<span class="text-danger ms-1">*</span></label>
          <nz-select
            [nzStatus]="submitted && f['itemCode'].errors ? 'error' : ''"
            nzShowSearch
            nzAllowClear
            formControlName="itemCode"
            >
            <nz-option *ngFor="let item of listItemAll" [nzLabel]="item.name" [nzValue]="item.code">
            </nz-option>
          </nz-select>
          <div *ngIf="submitted && f['itemCode'].errors" class="text-validate">
            <div *ngIf="f['itemCode']['errors']['required']">Không được để trống</div>
          </div>
        </div>
        <div class="mt-3">
          <app-input-number
            label="Giá"
            [required]="true"
            [errorsRequired]="f['price'].errors?.['required'] || f['price'].errors?.['min']"
            [showErrors]="submitted && f['price'].errors"
            [class]="submitted && f['price'].errors ? 'is-invalid' : ''"
            [control]="$any(wksForm).controls['price']"></app-input-number>
        </div>
        <div class="mt-3">
          <label for="inputText" class="form-label">Thời gian áp dụng<span class="text-danger ms-1">*</span></label>
          <div class="date-group d-flex d-space-bw d-gap">
            <div class="from-date w-50">
              <label class="form-label mb-1">Ngày bắt đầu</label>
              <nz-date-picker
                nzFormat="dd/MM/yyyy"
                class="d-block"
                [nzStatus]="submitted && f['fromDate'].errors ? 'error' : ''"
                formControlName="fromDate"></nz-date-picker>
            </div>
            <div class="to-date w-50">
              <label class="form-label mb-1">Ngày kết thúc</label>
              <nz-date-picker
                nzFormat="dd/MM/yyyy"
                class="d-block"
                [nzStatus]="submitted && f['toDate'].errors ? 'error' : ''"
                formControlName="toDate"></nz-date-picker>
            </div>
          </div>
        </div>
        <div class="mt-3">
          <app-input-clear
            label="{{ 'content.masterdata.shift.create.gc' | translate }}"
            placeholder="Note"
            [textArea]="true"
            [control]="$any(wksForm).controls['note']"></app-input-clear>
        </div>
        <div class="mt-6">
          <label for="inputText" class="form-label">Trạng thái</label>
          <div class="d-flex d-gap-20 w-100">
            <div class="form-check">
              <input class="form-check-input" type="radio" name="isActive" formControlName="isActive" [value]="true" />
              <label class="form-check-label" for="isActive">
                Kích hoạt
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="isActive" formControlName="isActive" [value]="false" />
              <label class="form-check-label" for="isActive">
                khoá</label
              >
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
