<div class="print-templates" id="stock-export-print">
  <div class="header-print">
    <div class="hearder-left">
      <div class="title-left fw-bold">TỔNG CÔNG TY TNHH TRƯỜNG AN - THÚY DANH</div>
      <div class="text">34 Nguyễn Sỹ Sách, TP Vinh, Nghệ An</div>
    </div>
    <div class="hearder-right">
      <div class="text">
        <span class="fw-bold">Mẫu số 02 - VT</span>
        <br>
        <span>Ban hàn theo thông tư số 133/2016/TT-BTC<br />
          Ngày 26/08/2016 của bộ tài chính
        </span>
      </div>
    </div>
  </div>
  <div class="title-main">PHIẾU XUẤT HÀNG</div>
  <div class="date ">
    <p class="fw-bold">Ngày {{data?.exportDate | date: 'dd'}} tháng {{data?.exportDate | date: 'MM'}} năm
      {{data?.exportDate | date: 'yyyy'}}</p>
    <p>{{data?.code}}</p>
  </div>
  <div class="row-content">
    <div class="label">- Họ tên người nhận hàng: {{ data?.partner?.name }}</div>
    <div class="dot-line"></div>
  </div>
  <div class="row-content">
    <div class="label">- Lý do xuất hàng: {{ data?.partner?.phoneNumber }}</div>
    <div class="dot-line"></div>
  </div>
  <div class="row-content">
    <div class="label">- Xuất tại kho: {{ data?.stock?.name }}</div>
    <div class="dot-line"></div>
    <div class="label">- Địa điểm: {{ data?.order?.pourLocation }}</div>
    <div class="dot-line"></div>
  </div>
  <table class="table-print">
    <thead>
      <tr>
        <th>STT</th>
        <th>Tên nhãn hiệu, quy cách, phẩm chất vật tư, sản phẩm hàng hóa</th>
        <th>Mã số</th>
        <th>Đơn vị tính</th>
        <th>Số lượng yêu cầu</th>
        <th>Số lượng thực xuất</th>
        <th>Đơn giá</th>
        <th>Thành tiền</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let element of data.exportDetails; index as i">
        <td>{{ i + 1 }}</td>
        <td>{{ element?.item?.name }}</td>
        <td>{{ element?.item?.code }}</td>
        <td>{{ element?.item?.unit?.name }}</td>
        <td class="text-right">{{ element?.orderNumber | number }}</td>
        <td class="text-right">{{ element?.number | number }}</td>
        <td class="text-right">{{ element?.price | number }}</td>
        <td class="text-right">{{ element?.sumMoney | number }}</td>
      </tr>
      <tr>
        <td></td>
        <td class="fw-600">Cộng:</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td class="text-right"></td>
        <td class="text-right">{{ data.sumMoney | number }}</td>
      </tr>
    </tbody>
  </table>
  <div class="row-content">
    <div class="label">- Tổng số tiền (viết bằng chữ):</div>
    <div class="dot-line"></div>
  </div>
  <div class="row-content">
    <div class="label">- Số chứng từ gốc kèm theo:</div>
    <div class="dot-line"></div>
  </div>
  <div class="date-sign">
    <i></i>
    .....,Ngày.......Tháng.......Năm 2023
  </div>
  <div class="footer-print">
    <div class="signature-container">
      <div class="title-signature">Người lập phiếu</div>
      <div class="signature">(Ký, họ tên)</div>
    </div>
    <div class="signature-container">
      <div class="title-signature">Người nhận hàng</div>
      <div class="signature">(Ký, họ tên)</div>
    </div>
    <div class="signature-container">
      <div class="title-signature">Thủ kho</div>
      <div class="signature">(Ký, họ tên)</div>
    </div>
    <div class="signature-container">
      <div class="title-signature">Kế toán trưởng</div>
      <div class="signature">(Ký, họ tên)</div>
    </div>
  </div>
</div>
