.dialog {
  position: relative;
  &-btn-close {
    position: absolute;
    top: 0;
    right: 0;
    background-color: transparent;
    border: none;
    &:focus {
      border: none;
      outline: none;
    }
  }
}
.inout-image {
  background-color: #fff;
  padding: 25px;
  img {
    width: 100%;
    height: 100%;
  }
}
