.example-action-buttons {
  padding-bottom: 20px;
}

.example-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

.example-headers-align .mat-mdc-form-field + .mat-mdc-form-field {
  margin-left: 8px;
}

::ng-deep .mat-mdc-select-value {
  display: none;
}
::ng-deep .mat-mdc-select-trigger {
  justify-content: flex-end;
}

.accordion-button {
  background: transparent;
  justify-content: center;
  padding: 0px;
  transform: scale(0.6);
  &::after {
    margin: 0;
    font-size: 12px;
  }
}

.multi-dropdown {
  position: relative;
  height: 33px;
  min-width: 200px;
  flex: 1;
  .dropdown-value {
    position: absolute;
    top: 5px;
    left: 0;
    font-size: 13px;
    font-weight: 400;
    font-family: system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', 'Noto Sans', 'Liberation Sans', Arial,
      sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    display: flex;
    align-items: center;
    margin-left: 15px;
    width: 70%;
    overflow: hidden;
  }
}
thead {
  position: sticky;
  top: -1px;
}
thead th {
  position: sticky;
  top: 0;
  font-size: 13px;
  font-weight: 600;
}
thead td {
  position: sticky;
  top: 0;
  font-size: 13px;
  font-weight: 500;
}

::ng-deep .mat-mdc-text-field-wrapper {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
::ng-deep .mat-mdc-form-field {
  flex: 1;
}
::ng-deep .mat-mdc-form-field-infix {
  padding: 0 !important;
  min-height: 33px;
}
::ng-deep .mat-mdc-form-field-subscript-wrapper {
  display: none;
}
::ng-deep .mdc-notched-outline {
  display: none !important;
}
::ng-deep .mat-mdc-option > .mat-pseudo-checkbox-checked.mat-pseudo-checkbox-full {
  background: #ff4081 !important;
}

.form-select {
  height: 33px !important;
}

::ng-deep .option-active {
  mat-pseudo-checkbox {
    display: none !important;
  }
  span {
    color: #333;
  }
}
.plan-filter {
  display: flex;
  gap: 50px;
}

.container {
  table {
    overflow-x: scroll;
    thead {
      z-index: 900;
    }
    th,
    td {
      border: 1px solid #e0e0e0;
      border-bottom: 1px solid #e0e0e0 !important;
      &.mix-hour {
        min-width: 100px;
        width: 100px;
      }
      &.mix-day {
        min-width: 140px;
        width: 140px;
      }
      &.mixer {
        min-width: 150px;
        width: 150px;
      }
    }
  }
}
.center-text {
  text-align: center;
  vertical-align: middle;
}
.box-under{
  margin-bottom: 3px;
  padding-bottom:3px;
}
