<div class="card">
  <div class="card-body container-page">
    <div class="d-flex flex-wrap d-gap d-space-bw no-button">
      <div class="card-title">
        <i class="bi bi-journal-text"></i>
        Chốt sản lượng
      </div>
    </div>
    <div class="d-flex d-gap-2 flex-wrap">
      <div class="d-flex flex-wrap d-gap-2">
        <nz-range-picker nzFormat="dd/MM/yyyy" [nzRanges]="rangePresets" [(ngModel)]="filter.selectedRange"
          [nzPlaceHolder]="['Từ ngày', 'Đến ngày']"></nz-range-picker>
      </div>

      <div class="flex-row flex-grow-1 multi-dropdown">
        <nz-select nzMode="multiple" nzPlaceHolder="Trạng thái"
          [(ngModel)]="filter.States">
          <nz-option *ngFor="let item of list_state" [nzLabel]="item.name" [nzValue]="item.value"></nz-option>
        </nz-select>
      </div>

      <div class="d-flex flex-row flex-grow-1">
        <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Khách hàng" [(ngModel)]="filter.PartnerCode">
          <nz-option *ngFor="let partner of listPartnerAll" [nzLabel]="partner.name"
            [nzValue]="partner.code"></nz-option>
        </nz-select>
      </div>

      <div class="d-flex flex-row flex-grow-1">
        <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Sản phẩm" [(ngModel)]="filter.ItemCode">
          <nz-option *ngFor="let item of listItemAll" [nzLabel]="item.name" [nzValue]="item.code"></nz-option>
        </nz-select>
      </div>

      <div class="d-flex flex-row flex-grow-3">
        <div class="input-group search-box">
          <div class="wrapper-input">
            <nz-input-group [nzSuffix]="inputClearTpl">
              <input type="text" (keyup.enter)="search()" nz-input [(ngModel)]="filter.keyWord"
                placeholder="Nhập từ khóa tìm kiếm" />
            </nz-input-group>
            <ng-template #inputClearTpl>
              <span nz-icon class="ant-input-clear-icon" nzTheme="fill" nzType="close-circle"
                *ngIf="!filter.keyWord || filter.keyWord !== ''" (click)="filter.keyWord = ''"></span>
            </ng-template>
          </div>
          <span (click)="search()" class="input-group-text"><i class="bi bi-search"></i></span>
          <span (click)="reload()" class="input-group-text"><i class="bi bi-arrow-clockwise"></i></span>
        </div>
      </div>
    </div>
    <div class="list-container border-top border-bottom mb-1 mt-1">
      <table mat-table [dataSource]="paginationResult.data"
        *ngIf="paginationResult && paginationResult.data?.length > 0" class="table table-hover table-click-row">
        <ng-container matColumnDef="index">
          <th mat-header-cell *matHeaderCellDef class="text-center">STT</th>
          <td mat-cell *matCellDef="let element; let i = index" class="text-center">
            {{ (paginationResult.currentPage - 1) * paginationResult.pageSize + i + 1 }}
          </td>
        </ng-container>

        <ng-container matColumnDef="code">
          <th mat-header-cell *matHeaderCellDef>Mã đơn hàng</th>
          <td mat-cell *matCellDef="let element">
            <span href="#" (click)="openEdit(element.code)" class="cursor-pointer text-primary">{{ element.code }}</span>
          </td>
        </ng-container>

        <ng-container matColumnDef="createDate">
          <th mat-header-cell *matHeaderCellDef>Ngày đặt hàng</th>
          <td mat-cell *matCellDef="let element">{{ element.createDate | date : 'dd/MM/yyyy' }}</td>
        </ng-container>

        <ng-container matColumnDef="pourDate">
          <th mat-header-cell *matHeaderCellDef>Ngày đổ</th>
          <td mat-cell *matCellDef="let element">{{ element.pourDate | date : 'dd/MM/yyyy HH:mm' }}</td>
        </ng-container>

        <ng-container matColumnDef="itemName">
          <th mat-header-cell *matHeaderCellDef>Sản phẩm</th>
          <td mat-cell *matCellDef="let element">{{ element.itemName }}</td>
        </ng-container>

        <ng-container matColumnDef="orderNumber">
          <th mat-header-cell *matHeaderCellDef class="text-right">SL đặt</th>
          <td mat-cell *matCellDef="let element" class="text-right text-danger">{{ element.orderNumber | number }}</td>
        </ng-container>

        <ng-container matColumnDef="pourLocation">
          <th mat-header-cell *matHeaderCellDef>Địa điểm đổ</th>
          <td mat-cell *matCellDef="let element">{{ element.pourLocation }}</td>
        </ng-container>

        <ng-container matColumnDef="partnerName">
          <th mat-header-cell *matHeaderCellDef>Khách hàng</th>
          <td mat-cell *matCellDef="let element">{{ element.partnerName }}</td>
        </ng-container>

        <ng-container matColumnDef="phoneNumber">
          <th mat-header-cell *matHeaderCellDef>Số điện thoại</th>
          <td mat-cell *matCellDef="let element">{{ element.phoneNumber }}</td>
        </ng-container>

        <ng-container matColumnDef="state">
          <th mat-header-cell *matHeaderCellDef class="text-center">Trạng thái</th>
          <td mat-cell *matCellDef="let element" class="text-center">
            <div *ngIf="state_debt[element?.state]" class="label-status"
              [style.background]="state_debt[element?.state].background"
              [style.color]="state_debt[element?.state].color">
              {{ state_debt[element?.state].name }}
            </div>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true" class="border-bottom"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns" (dblclick)="openEdit(row.code)"
          [ngClass]="{'selected-row': row.code === filter.code}"></tr>
      </table>
      <app-empty *ngIf="!paginationResult || paginationResult.data?.length == 0"></app-empty>
    </div>
    <div class="float-end" *ngIf="paginationResult">
      <app-pagination [pageSize]="paginationResult.pageSize" [totalRecord]="paginationResult.totalRecord"
        [totalPage]="paginationResult.totalPage" [(page)]="paginationResult.currentPage"
        (pageChange)="onChangePage($event)" (pageSizeChange)="pageSizeChange($event)"></app-pagination>
    </div>
  </div>
</div>