<div class="card" style="height: 100vh">
  <div class="card-body">
    <div class="d-flex-wrap d-gap d-space-bw border-bottom header-drawer">
      <div class="card-title">
        <i class="bi bi-pencil-square"></i>
        {{ 'content.masterdata.mixer.edit.title' | translate }}
      </div>
      <div class="d-flex-wrap d-gap">
        <div>
          <button (click)="onEdit()" type="button" class="btn btn-primary">
            <i class="bi bi-check-circle"></i>{{ 'content.common.btn_save' | translate }}
          </button>
        </div>
        <div>
          <button type="button" (click)="close()" class="btn btn-warning">
            <i class="bi bi-x-circle"></i>{{ 'content.common.btn_close' | translate }}
          </button>
        </div>
      </div>
    </div>
    <div>
      <form [formGroup]="mixerForm" (ngSubmit)="onEdit()">
        <div class="mt-3">
          <label for="inputText" class="col-form-label">{{ 'content.masterdata.mixer.edit.code' | translate }}</label>
          <div>
            <input type="text" class="form-control" formControlName="code" />
          </div>
        </div>
        <div class="mt-3">
          <app-input-clear
            label="{{ 'content.masterdata.mixer.edit.name' | translate }}"
            [required]="true"
            [errorsRequired]="f['name'].errors?.['required']"
            [showErrors]="submitted && f['name'].errors"
            [status]="submitted && f['name'].errors ? 'error' : ''"
            [control]="$any(mixerForm).controls['name']"></app-input-clear>
        </div>

        <div class="mt-3">
          <label for="inputText" class="form-label">{{ 'content.masterdata.mixer.edit.state' | translate }}</label>
          <div class="d-flex d-gap-20 w-100 mt-0">
            <div class="form-check">
              <input class="form-check-input" type="radio" name="isActive" formControlName="isActive" [value]="true" />
              <label class="form-check-label" for="isActive">
                {{ 'content.masterdata.mixer.edit.statevalue.Activated' | translate }}
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="isActive" formControlName="isActive" [value]="false" />
              <label class="form-check-label" for="isActive">
                {{ 'content.masterdata.mixer.edit.statevalue.Locked' | translate }}
              </label>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
