<div class="print-templates card">
  <div class="card-body container-page">
    <div class="header-print">
      <div class="hearder-left">
        <!-- <div class="title-left fw-bold">LOGO</div> -->
      </div>
    </div>
    <div class="company">TỔNG CÔNG TY CỔ PHẦN ĐẦU TƯ HÀ THANH</div>
    <div class="title-main">CỤM NHÀ MÁY LIÊN DOANH VIỆT NHẬT</div>
    <div class="title-main name">LỆNH SẢN XUẤT</div>
    <div class="row-content">
      <div class="group group-1">
        <div class="label">Ca sản xuất:</div>
        <div class="dot-line"></div>
      </div>
      <div class="group group-2">
        <div class="label">Người nhận lệnh: Lewandowsky</div>
      </div>
      <div class="group group-3">
        <div class="label">Bộ phận: Điều hành trạm trộn bê tông thương phẩm</div>
      </div>
      <div class="group group-4">
        <table class="table-infor">
          <tr>
            <td><b>Số</b></td>
            <td><b>10/8</b></td>
          </tr>
          <tr>
            <td><b>Ngày</b></td>
            <td><b>10/8</b></td>
          </tr>
        </table>
      </div>
    </div>

    <div class="list-container">
      <table class="table table-hover table-print">
        <thead>
          <tr>
            <th rowspan="2">STT</th>
            <th rowspan="2">Giờ</th>
            <th colspan="4">Khách Hàng</th>
            <th colspan="6">Đơn hàng</th>
            <th colspan="2">Nhân viên kinh doanh</th>
            <th colspan="3">Công trình</th>
            <th rowspan="2">Lái xe chạy</th>
          </tr>
          <tr>
            <th>Tên</th>
            <th>Điện thoại</th>
            <th>Địa chỉ</th>
            <th>Đặc tính</th>
            <th>Mác</th>
            <th>Độ sụt</th>
            <th>Phụ gia</th>
            <th>Số lượng</th>
            <th>Thí nghiệm</th>
            <th>Ca bơm</th>
            <th>Tên</th>
            <th>Điện thoại</th>
            <th>Khoảng cách</th>
            <th>Hạng mục</th>
            <th>KL DA</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>xxxxxxxxxxxxxxxxx</td>
            <td>xxxxxxxxxxxxxxxxx</td>
            <td>xxxxxxxxxxxxxxxxx</td>
            <td>xxxxxxxxxxxxxxxxx</td>
            <td>xxxxxxxxxxxxxxxxx</td>
            <td>xxxxxxxxxxxxxxxxx</td>
            <td>xxxxxxxxxxxxxxxxx</td>
            <td>xxxxxxxxxxxxxxxxx</td>
            <td>xxxxxxxxxxxxxxxxx</td>
            <td>xxxxxxxxxxxxxxxxx</td>
            <td>xxxxxxxxxxxxxxxxx</td>
            <td>xxxxxxxxxxxxxxxxx</td>
            <td>xxxxxxxxxxxxxxxxx</td>
            <td>xxxxxxxxxxxxxxxxx</td>
            <td>xxxxxxxxxxxxxxxxx</td>
            <td>xxxxxxxxxxxxxxxxx</td>
            <td>xxxxxxxxxxxxxxxxx</td>
            <td>xxxxxxxxxxxxxxxxx</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="date-sign">
      <i></i>
      .....,Ngày.......Tháng.......Năm 2023
    </div>
    <div class="footer-print">
      <div class="signature-container">
        <div class="title-signature">Trạm trộn</div>
        <div class="signature">(Ký, họ tên)</div>
      </div>
      <div class="signature-container">
        <div class="title-signature">Kế toán</div>
        <div class="signature">(Ký, họ tên)</div>
      </div>
      <div class="signature-container">
        <div class="title-signature">Đội xe</div>
        <div class="signature">(Ký, họ tên)</div>
      </div>
      <div class="signature-container">
        <div class="title-signature">Lập lệnh</div>
        <div class="signature">(Ký, họ tên)</div>
      </div>
    </div>
  </div>
</div>
