<div class="print-templates" id="payment-voucher-print">
  <div class="header-print">
    <div class="hearder-left">
      <div class="title-left">{{ data?.company?.name }}</div>
      <div class="text">{{ data?.company?.address }}</div>
    </div>
  </div>
  <div class="title-main">PHIẾU CHI</div>
  <div class="date text-center">
    Ngày {{ data?.detail?.paymentDate | date : 'dd' }} Tháng {{ data?.detail?.paymentDate | date : 'MM' }} năm
    {{ data?.detail?.paymentDate | date : 'yyyy' }}
  </div>
  <div class="code text-center">Số: {{data?.detail?.code}}</div>
  <div class="row-separate">
    <div class="row-separate-left">
      <div class="label">- Họ và tên người nhận tiền:</div>
      <div class="dot-line-start"></div>
      <div>{{data?.detail?.receiverName}}</div>
      <div class="dot-line"></div>
    </div>
    <div class="row-separate-right">
      <div class="label">- Số điện thoại:</div>
      <div class="dot-line-start"></div>
      <div>{{data?.detail?.receiverPhoneNumber}}</div>
      <div class="dot-line"></div>
    </div>
  </div>
  <div class="row-content">
    <div class="label">- Địa chỉ:</div>
    <div class="dot-line-start"></div>
    <div>{{data?.detail?.receiverAddress}}</div>
    <div class="dot-line"></div>
  </div>
  <div class="row-content">
    <div class="label">- Lý do chi:</div>
    <div class="dot-line-start"></div>
    <div>{{utils.formatNumber(data?.detail?.reason) || ''}}</div>
    <div class="dot-line"></div>
  </div>
  <div class="row-content">
    <div class="label">- Số tiền:</div>
    <div class="dot-line-start"></div>
    <div>{{data?.detail?.money}}</div>
    <div class="dot-line"></div>
  </div>
  <div class="row-content">
    <div class="label">- Hình thức chi:</div>
    <div class="dot-line-start"></div>
    <div>{{METHOD_NAME[data?.detail?.paymentMethod]}}</div>
    <div class="dot-line"></div>
  </div>
  <div class="row-content">
    <div class="label">- Số chứng từ gốc kèm theo</div>
    <div class="dot-line-start"></div>
    <div class="dot-line"></div>
  </div>
  <div class="footer-print">
    <div class="signature-container">
      <div class="title-signature">Người lập phiếu</div>
      <div class="signature">(Ký, họ tên)</div>
    </div>
    <div class="signature-container">
      <div class="title-signature">Người nộp tiền</div>
      <div class="signature">(Ký, họ tên)</div>
    </div>
    <div class="signature-container">
      <div class="title-signature">Kế toán trưởng</div>
      <div class="signature">(Ký, họ tên)</div>
    </div>
    <div class="signature-container">
      <div class="date-signature">Ngày Tháng Năm 2023</div>
      <div class="title-signature">Giám đốc</div>
      <div class="signature">(Ký, họ tên)</div>
    </div>
  </div>
</div>