.midnight-report-container {
  table {
      th, td {
        border: solid 1px #e0e0e0;
      }

      th {
          font-weight: 600 !important;
          font-size: 14px !important;
      }
  }
}


.sticky-column {
  position: -webkit-sticky;
  position: sticky;
  left: 0;
  z-index: 5;
  background-color: #ffffff;
}

.mat-column-your-column-name {
  position: relative;
  z-index: 1;
}


::ng-deep.ab {
  position: -webkit-sticky ;
  position: sticky;
  left: 0;
    z-index: 999 !important;
  background-color: #ffffff;
}


