<div class="chipper-create-container">
  <div class="card-body">
    <div class="d-flex-wrap d-gap d-space-bw border-bottom header-drawer mini-form">
      <div class="card-title mb-2 p-0">
        <i class="bi bi-plus-lg"></i>{{ 'content.masterdata.chipper.create.tt' | translate }}
      </div>
      <div class="d-flex-wrap d-gap">
        <div class="">
          <button
            type="button"
            (click)="onCreate()"
            class="btn btn-primary"
            submitForm
            [appPermission]="CHIPPER_RIGHTS.THEM_MOI">
            <i class="bi bi-check-circle"></i>{{ 'content.common.btn_save' | translate }}
          </button>
        </div>
        <div class="">
          <button type="button" (click)="close()" class="btn btn-warning">
            <i class="bi bi-x-circle"></i>{{ 'content.common.btn_close' | translate }}
          </button>
        </div>
      </div>
    </div>
    <div class="pb-3">
      <form [formGroup]="chipperForm" (ngSubmit)="onCreate()">
        <div class="mt-3">
          <app-input-clear
            [initFocus]="true"
            label="Mã"
            [required]="true"
            [errorsRequired]="f['code'].errors?.['required']"
            [errorsWrongFormat]="f['code'].errors?.['pattern']"
            [showErrors]="submitted && f['code'].errors"
            [status]="submitted && f['code'].errors ? 'error' : ''"
            [control]="$any(chipperForm).controls['code']"></app-input-clear>
        </div>
        <div class="mt-3">
          <app-input-clear
            label="{{ 'content.masterdata.chipper.create.tmb' | translate }}"
            [required]="true"
            [errorsRequired]="f['name'].errors?.['required']"
            [showErrors]="submitted && f['name'].errors"
            [status]="submitted && f['name'].errors ? 'error' : ''"
            [control]="$any(chipperForm).controls['name']"></app-input-clear>
        </div>

        <div class="mt-3">
          <label for="inputText" class="form-label">{{ 'content.masterdata.itemtype.create.state' | translate }}</label>
          <div class="d-flex d-gap-20 w-100 mt-0">
            <div class="form-check">
              <input class="form-check-input" type="radio" name="isActive" formControlName="isActive" [value]="true" />
              <label class="form-check-label" for="isActive">
                {{ 'content.masterdata.itemtype.create.statevalue.Activated' | translate }}
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="isActive" formControlName="isActive" [value]="false" />
              <label class="form-check-label" for="isActive">
                {{ 'content.masterdata.itemtype.create.statevalue.Locked' | translate }}</label
              >
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
