<div class="main-login">
  <div class="container">
    <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
      <div class="container">
        <div *ngIf="stage === 'send-otp'" class="row justify-content-center fade-in">
          <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center box-login">
            <div class="card mb-3 card-login">
              <div class="card-body">
                <div class="pt-4 pb-2" style="margin-bottom: 40px">
                  <img src="../assets/img/logo.png" style="margin: 0px 34%; width: 32%" />
                </div>
                <h5 style="text-align: center">Quên mật khẩu</h5>
                <p style="text-align: center">
                  Vui lòng nhập email, số điện thoại hoặc tên người dùng mà bạn đã đăng kí với Mmes
                </p>

                <form [formGroup]="sendotpForm" (ngSubmit)="onCreate()" class="row g-3 needs-validation">
                  <div class="col-12">
                    <label for="yourUsername" class="form-label"> Tên người dùng</label>
                    <div class="input-group has-validation">
                      <span class="input-group-text" id="inputGroupPrepend"><i class="bi bi-person-fill"></i></span>
                      <input
                        formControlName="userName"
                        type="text"
                        name="userName"
                        class="form-control"
                        id="yourUsername"
                        placeholder="User Name"
                        required />
                      <div class="invalid-feedback"></div>
                    </div>
                  </div>

                  <div class="col-12">
                    <label for="yourUsername" class="form-label"> Số điện thoại / Email</label>
                    <div class="input-group has-validation">
                      <span class="input-group-text" id="inputGroupPrepend"><i class="bi bi-envelope"></i></span>
                      <input
                        formControlName="email"
                        type="text"
                        name="email"
                        class="form-control"
                        id="email"
                        placeholder="Phonenumber/Email"
                        required />
                      <div class="invalid-feedback"></div>
                    </div>
                  </div>

                  <div class="col-12">
                    <button
                      (click)="onCreate()"
                      class="btn btn-primary w-100 mat-raised-button"
                      color="primary"
                      type="button">
                      Tiếp tục
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
        <div *ngIf="stage === 'enter-otp'" class="row justify-content-center fade-in">
          <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center box-login">
            <div class="card mb-3 card-login">
              <div class="card-body" style="width: 404px">
                <div class="pt-4 pb-2" style="margin-bottom: 40px">
                  <img src="../assets/img/logo.png" style="margin: 0px 34%; width: 32%" />
                </div>

                <form [formGroup]="enterOTPForm" (ngSubmit)="onCreate()" class="row g-3 needs-validation">
                  <div class="col-12">
                    <label for="yourUsername" class="form-label"> Tên người dùng</label>
                    <div class="input-group">
                      <span class="input-group-text" id="inputGroupPrepend"><i class="bi bi-person-fill"></i></span>
                      <input
                        formControlName="userName"
                        type="text"
                        name="userName"
                        class="form-control"
                        id="userName"
                        placeholder="User Name"
                        required />
                      <div class="invalid-feedback"></div>
                    </div>
                  </div>
                  <div class="col-12">
                    <label for="yourPassword" class="form-label">Mật khẩu mới</label>
                    <div class="input-group has-validation">
                      <span class="input-group-text" id="inputGroupPrepend"><i class="bi bi-key-fill"></i></span>
                      <input
                        formControlName="password"
                        type="password"
                        name="password"
                        class="form-control"
                        id="yourPassword"
                        placeholder="Nhập mật khẩu mới"
                        required />
                      <div class="invalid-feedback"></div>
                    </div>
                  </div>
                  <div class="col-12">
                    <label for="yourPassword" class="form-label"> Nhập lại mật khẩu mới</label>
                    <div class="input-group has-validation">
                      <span class="input-group-text" id="inputGroupPrepend"><i class="bi bi-key-fill"></i></span>
                      <input
                        [formControlName]="'confirmPassword'"
                        type="password"
                        name="confirmPassword"
                        class="form-control"
                        id="confirmPassword"
                        placeholder="Nhập lại mật khẩu mới"
                        required />
                      <div class="invalid-feedback"></div>
                      <div
                        *ngIf="enterOTPSubmitted && enterOTPForm.get('confirmPassword')?.hasError('required')"
                        class="text-danger">
                        Mat khau khong khop
                      </div>
                    </div>
                  </div>
                  <div class="col-12">
                    <div class="d-flex justify-content-center">
                      <app-otp-index [control]="$any(enterOTPForm).controls['otp']"></app-otp-index>
                    </div>
                  </div>

                  <div class="col-12">
                    <button
                      (click)="onEnterOTP()"
                      class="btn btn-primary w-100 mat-raised-button"
                      color="primary"
                      type="button">
                      Tiếp tục
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
